/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 1px solid red; 
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

html{
    --MAIN-COLOUR: #fafaf9;
    --BG-COLOUR: #e5e7eb;
    --ACCENT-COLOUR: #0ea5e9;
    --CARD-ACCENT: #facc15;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
}

body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 5fr;
}

img{
    height: 25px;
}

img[alt="Profile Picture"]{
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

a{
    color: inherit;
    text-decoration: none;
}

/* SIDEBAR */

nav{
    background-color: var(--ACCENT-COLOUR);
    color: var(--MAIN-COLOUR);
    font-size: 1.2rem;
    font-weight: 600;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

nav img{
    filter: invert(96%) sepia(88%) saturate(165%) hue-rotate(13deg) brightness(118%) contrast(96%);
}

.logo{
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo img{
    height: 50px;
}

.logo h1{
    font-size: 1.6rem;
}

.page-links,
.settings-links{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
}

/* HEADER */

header{
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 20px;
}

.searchbar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchbar input{
    flex: 1;
    min-width: 27ch;
    max-width: 650px;
    height: 1.5rem;
    font: inherit;
    font-size: 1.2rem;
    background-color: var(--BG-COLOUR);
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

.profile{
    grid-column: 3/5;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.command-panel{
    display: flex;
    align-items: center;
}

.content-btns{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

/* MAIN */

main{
    background-color: var(--BG-COLOUR);
    display: grid;
    grid-template-rows: 1.5rem 1fr 1.5rem 1fr;
    grid-template-columns: 4fr 1fr;
}

.projects{
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card{
    background-color: white;
    height: 250px;
}

.announcements{
    background-color: lightcoral;
    display: grid;
}

.trending{
    background-color: lightsalmon;
    display: grid;
}